@use '../../assets/color-variables.scss' as *;

.messages-container {
	display: flex;
	width: 100%;
	height: 100%;

	.message-container {
		flex: 1;
		margin: 6vw;
		padding: 1vw;
		border: 2px solid $secondary;
		display: flex;
		flex-direction: column;
		row-gap: 5px;
		position: relative;
		.answer-dialog {
			margin-top: -1vw;
			width: 100%;
			height: 100%;
			max-width: none;
			max-height: none;
			border: none;
			.answer-form-container {
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				height: 100%;
				width: 100%;
				justify-content: space-between;
				.answer-text {
					border: none;
					background-color: $primary;
					width: 100%;
					height: 90%;
					font-size: 24px;
					resize: none;
					padding: 5px;
					border-radius: 5px;
					&:focus {
						outline: none;
					}
				}
				.submit-answer-btn {
					height: 30px;
					width: 100px;
					background-color: $secondary;
					border: none;
					font: 20px bolder;
					color: $primary;
					&:hover {
						transform: scale(1.05);
						font-weight: bolder;
						cursor: pointer;
					}
				}
			}
		}
		p {
			padding: 0;
			margin: 0;
		}
		.message-header {
			height: fit-content;
		}
		.message-body {
			flex: 1;
		}
		.message-footer {
			height: fit-content;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.timestamp {
				text-align: right;
			}
			.answer-btn {
				height: 30px;
				width: 80px;
				background-color: $secondary;
				border: none;
				font: 18px bolder;
				color: $primary;
				&:hover {
					transform: scale(1.05);
					font-weight: bolder;
					cursor: pointer;
				}
			}
		}
	}
	.messages-sidebar-container {
		width: 250px;
		display: flex;
		flex-direction: column;
		background-color: $secondary;
		row-gap: 10px;
		padding: 10px;
		border: solid 1px blue;
		border-right: none;

		.message-preview {
			width: 220px;
			text-align: center;
			font-size: 18px;
			font-weight: bolder;
			height: fit-content;
			color: $primary;
			&:hover {
				transform: scale(1.05);
				font-weight: bold;
				cursor: pointer;
			}
		}
	}
}
