.home-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 0 20px;

	.picture-container {
		height: fit-content;
	}
	.funcs-container {
		width: 100%;
		padding: 10%;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		column-gap: 10px;
	}
}
