@use '../../assets/color-variables.scss' as *;

.report-corruption-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: space-around;
	background-color: $primary;
	min-height: 120vh;
	.report-corruption-text-container {
		justify-self: center;
		padding: 100px 5vw;
		p {
			color: black;
			font-size: 18px;
			text-align: justify;
		}
	}
}
