@use '../../assets/color-variables.scss' as *;

.functionality-card {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	width: 100%;
	aspect-ratio: 1;
	background-color: $secondary;
	font-size: 2em;
	font-weight: bold;
	color: $primary;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: pointer;
	&:hover {
		transform: scale(1.02);
	}
}
