$pdf-viewer-height: 90vh;

.pdf-viewer-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $pdf-viewer-height;
	display: flex;
	justify-content: center;
	align-items: center;

	.pdf-viewer-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: $pdf-viewer-height;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 100;
	}

	.pdf-file {
		z-index: 101;
	}

	@media screen and (max-width: 768px) {
		.pdf-viewer-overlay {
			height: 100%;
		}

		.pdf-file {
			height: 100%;
		}
	}
}
