@use '../../assets/color-variables.scss' as *;

.shortcut-card {
	justify-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15vw;
	aspect-ratio: 1;
	background-color: $secondary;
	font-size: 2.5vw;
	font-weight: bold;
	color: $primary;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: pointer;
	&:hover {
		transform: scale(1.02);
		box-shadow: 3px 5px #9e8f8f;
	}
}
