.article-container {
	color: black;
	width: 100%;
	padding: 20px;
	justify-self: center;
	img {
		width: 100%;
		aspect-ratio: 1;
		&:hover {
			cursor: pointer;
		}
	}
	h1 {
		margin: 5px 0;
		font-size: 18px;
		width: fit-content;
		&:hover {
			cursor: pointer;
		}
	}
	h2 {
		margin: 5px 0;
		font-size: 14px;
		width: fit-content;
		&:hover {
			cursor: pointer;
		}
	}
}
