.image {
	font-size: 2em;
	max-width: 100%;
}
.arrow {
	position: relative;
	top: 47%;
	font-size: 3rem;
	font-weight: bold;
	color: rgb(185, 185, 185);
	z-index: 100;
	cursor: pointer;
	user-select: none;
}
.left {
	left: 2%;
}
.right {
	left: 95.5%;
}

.slide {
	opacity: 0;
	transition-duration: 1s ease;
}

.slide.active {
	opacity: 1;
	transition-duration: 1s;
	transform: scale(1.05);
}
