@use '../../assets/color-variables.scss' as *;

.e-forms-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 20px;
	padding: 10vw 6vw;
	.e-form-container {
		place-self: center;
		overflow: hidden;
		cursor: pointer;
		border: solid 1px $primary;
		border-radius: 4%;
		&:hover {
			border: solid 1px $secondary;
		}
	}
	@media screen and (max-width: 768px) {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		padding: 8vw 4vw;
	}
}
